# Question 1
1. write a python code for converting integer values to Indian currency notations, without
using the currency libraries

#### Problem understanding
*  will start from the last digit of the integer.
* The first comma appears after 3 digits from the end.
* Subsequent commas appear after every 2nd digit from the last, following the first comma placement.
* If the total length of the integer is even:
* The first comma will be just after the 1st digit from the start.
* If the total length of the integer is odd:
* The first comma will be after the first 2 digits from the start.

In [84]:
def convert_to_indian_currency(number):
  # Reverse the number to start from the end
    num_str = str(number)[::-1]
    length = len(num_str)
    indian_currency = ''

    for i in range(length):
      # Case 1: Place the first comma after three digits
        if i < 3:
            if i != 0 and i % 3 == 0:
                indian_currency += ','
            indian_currency += num_str[i]
            # Case 2: After the first comma, place a comma after every 2 digits
        else:
            if (i - 1) % 2 == 0:
                indian_currency += ','
            indian_currency += num_str[i]
    # Reverse the result back to normal
    return indian_currency[::-1]

## Test cases

In [85]:
# Test the function
result = convert_to_indian_currency(345232)
print("Indian Currency Notation:", result)

Indian Currency Notation: 3,45,232

In [86]:
convert_to_indian_currency(4231)

'4,231'

In [87]:
convert_to_indian_currency(24233)

'24,233'

# Question 2nd

### Approach to solving the problem
1. take the inputs of Players between Ali and Gi-Hun with for loop and the length of the loop should be N
2. Apply condition while taking loop on every element according to the question needs
3. Lastly apply for loop only on the heights of players if the any player's height is greater than the Ali's and Gi-Hun's height then it supposed to get shot.
4. Return the total counts which is equivalant to the minimum number of players who need to get shot

In [88]:
def game(N: int, K: int):
    # N is the total number of players between Ali and Gi-Hun
    # N < 5.105
    # other constraints:
    # 1. 1 <= T <= 105
    # 2. 1 <= N <= 105
    # 3. 1 <= k <= 10^6
    # 4. 1 <= Hi <= 10^6

    if N < 1 or N > 105:
        raise ValueError("N should be between 1 and 105 inclusive.")

    if K < 1 or K > 106:
        raise ValueError("K should be between 1 and 10^6 inclusive.")

    players_height_between_ali_gh = []

    for i in range(N):
        element = int(input(f"Enter height of player {i+1} between 1 and 106 inclusive: "))
        if element < 1 or element > 106:
            raise ValueError("Height should be between 1 and 106 inclusive.")
        players_height_between_ali_gh.append(element)

    count = 0
    ali_gh_heights = K

    for i in players_height_between_ali_gh:
        if i > ali_gh_heights:
            count += 1

    return count

In [90]:
# Test case 1
game(4,10)

Enter height of player 1 between 1 and 106 inclusive: 2
Enter height of player 2 between 1 and 106 inclusive: 13
Enter height of player 3 between 1 and 106 inclusive: 4
Enter height of player 4 between 1 and 106 inclusive: 16

2

In [91]:
# test case 2nd
game(5,8)

Enter height of player 1 between 1 and 106 inclusive: 9
Enter height of player 2 between 1 and 106 inclusive: 3
Enter height of player 3 between 1 and 106 inclusive: 8
Enter height of player 4 between 1 and 106 inclusive: 8
Enter height of player 5 between 1 and 106 inclusive: 4

1

In [ ]:
# Test case 3rd
game(4,6)

Enter height of player 1 between 1 and 106 inclusive: 1
Enter height of player 2 between 1 and 106 inclusive: 2
Enter height of player 3 between 1 and 106 inclusive: 3
Enter height of player 4 between 1 and 106 inclusive: 4

0

In [ ]:
# Error test case
game(110,6)

ValueError: ignored